* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Roboto',
    sans-serif;
  background-color: #191918;
  font-size: 16px;
  color: rgb(203, 173, 98);
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(98, 98, 98, 1) 100%);
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 1.5em 0 0.3em 0;
}

dl {
  width: 100%;
}

.lunch__time {
  text-align: center;
}

.lunch__wrapper {
  display: grid;
  grid-template: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 1em;
}

.lunch {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 30vw;
}

@media (max-width: 480px) {
  .lunch {
    padding: 0;
  }
}

.lunch__title {
  color: #000;
  text-transform: uppercase;
  background-color: rgb(203, 173, 98);
  padding: 0.5vh 0;
  margin: 1.5vh;
}

.lunch__title>span {
  text-transform: none;
}

.lunch__item {
  font-size: 1.2em;
}