* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #191918;
  font-size: 16px;
  color: rgb(203, 173, 98);
}

.header__container {
  position: relative;
  width: 100%;
}

.header__contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
  position: absolute;
  z-index: 1;
}
.header__contact a {
  /* position: absolute; */
  color: rgb(203, 173, 98);
  font-size: 1.3em;
}

.header__contact-item {
  text-align: center;
}

.header__contact-item i {
  margin-right: 0.2em;
  animation-name: contact;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes contact {
  25% {
    font-size: 1.1em;
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.header__container > a {
  display: flex;
  justify-content: center;
}

.header__background {
  width: 100%;
  height: 100vh;
  background: url("../img/backgroundHall1.webp") no-repeat center / cover;
  opacity: 0.3;
  position: absolute;
}

.header__logo {
  margin-top: 15vh;
  position: absolute;
  width: 15vw;
  height: 15vh;
}

.nav {
  margin-top: 80vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__link {
  width: 13em;
  background-color: #191918;
  text-align: center;
  padding: 0.2em;
}

.nav__link a {
  font-size: 1.7em;
  color: rgb(203, 173, 98);
  text-transform: uppercase;
}

.nav__link a:hover,
.nav__link a:active {
  font-size: 1.8em;
  color: rgb(203, 173, 98);
  text-transform: uppercase;
  border-bottom: 2px solid rgb(203, 173, 98);
  transition: 0.5s;
}

.header__title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  position: absolute;
  font-size: 5em;
  color: rgb(203, 173, 98);
}

footer {
  background-color: rgb(203, 173, 98);
}

.social__container {
  margin-top: 2em;
  bottom: 2em;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__container i {
  margin-left: 0.8em;
  color: rgb(203, 173, 98);
  font-size: 1.5em;
}

.social__container i:active,
.social__container i:hover,
.social__container i:focus {
  font-size: 1.8em;
  padding: 0.1em;
  border-bottom: 2px solid rgb(203, 173, 98);
}

.footer__contact {
  display: grid;
  align-content: center;
  text-align: center;
}

.footer__contact a {
  color: #191918;
  line-height: 1.5em;
}

@media (min-width: 1200px) {
}

@media (min-width: 950px) and (max-width: 1199px) {
}

@media (min-width: 480px) and (max-width: 949px) {
  /** for 4 buttons with reserve
  .nav {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1.7em;
    justify-content: center;
    justify-items: center;
    margin-top: 67vh;
  }**/
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 479px) {
  .header__background {
    width: 100%;
    height: 100vh;
    background: url("../img/backHall-m.webp") no-repeat center / cover;
    opacity: 0.3;
    position: absolute;
  }

  .header__address {
    font-size: 1em;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1em;
  }
  .header__logo {
    width: 20vw;
    height: 20vh;
  }
  .nav {
    display: grid;
    row-gap: 0.7em;
    justify-content: center;
    justify-items: center;
    margin-top: 67vh;
  }
  h1 {
    font-size: 3em;
  }
  .nav__link {
    width: 10em;
    background-color: #191918;
    text-align: center;
  }

  .nav__link a {
    font-size: 1.2em;
  }
  .nav__link a:hover,
  .nav__link a:active {
    font-size: 1.3em;
    color: rgb(203, 173, 98);
    padding: 0.2em;
    border-bottom: 2px solid rgb(203, 173, 98);
    transition: 0.5s;
  }
}

/*lunch page*/

h2 {
  font-size: 2em;
  text-align: center;
  margin: 1.5em 0 0.3em 0;
}

dl {
  width: 100%;
}

.lunch__time {
  text-align: center;
}

.lunch__wrapper {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  gap: 2em;
  margin-top: 1em;
}

.lunch {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 30vw;
}

@media (max-width: 479px) {
  .lunch {
    padding: 0;
  }
}

.lunch__title {
  color: #000;
  text-transform: uppercase;
  background-color: rgb(203, 173, 98);
  padding: 0.5vh 0;
  margin: 1.5vh;
}

.lunch__title > span {
  text-transform: none;
}

.lunch__item {
  font-size: 1.2em;
}
