@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`."
    +"Please make sure it's defined in `$breakpoints` map."
  }
}

@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin center {
  align-items: center;
  justify-content: center;
}

@mixin hover-active {

  &:hover,
  &:focus,
  &:active {
    transition: all 0.5s;
    cursor: pointer;
  }
}

@mixin border-button($border-color) {
  background: transparent;
  border: 2px solid $border-color;
}

@mixin divide {
  &::after {
    content: "|";
    font-size: 1.2rem;
    font-weight: 900;
    margin-left: 0.5rem;
    color: rgb(240, 0, 128);
  }
}

@mixin cover-bg() {
  &:nth-child(odd) {
    background: $bg-color url("../img/hallBgBw.webp") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
  }
}

@mixin display-grid-col($columns) {
  display: grid;
  grid-template-columns: $columns;
}

@mixin display-grid-row($rows) {
  display: grid;
  grid-template-rows: $rows;
}

@mixin align-center {
  text-align: center;
  align-items: center;
}

@mixin text-size($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin keyframe ($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation ($animation, $duration, $delay, $direction: forwards, $fiilmode: forwards) {
  -webkit-animation-name: $animation;
  animation-name: $animation;

  -webkit-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-delay: $delay;
  animation-delay: $delay;

  -webkit-animation-direction: $direction;
  animation-direction: $direction;

  -webkit-animation-fill-mode: $fiilmode;
  animation-fill-mode: $fiilmode;
}

.small__border {
  display: block;
  @include size(4rem, 0.1rem);
  background-color: $color-item;
  margin: 1rem auto;
}