# General
.DS_Store
.AppleDouble
.LSOverride

Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

artemisfood.com.ua_index(iPad Pro).png
artemisfood.com.ua_index.png
artemisfood_iphone.png
perfomance_artemis.png
streetDishes850*605mm.png